// cspell:disable
$iconCopy: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewBox='0 0 24 24'%3E%3Crect width='8' height='4' x='8' y='2' rx='1' ry='1'/%3E%3Cpath d='M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2'/%3E%3C/svg%3E");
$iconCopied: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewBox='0 0 24 24'%3E%3Crect width='8' height='4' x='8' y='2' rx='1' ry='1'/%3E%3Cpath d='M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2'/%3E%3Cpath d='m9 14 2 2 4-4'/%3E%3C/svg%3E");

@mixin iconMask($icon, $color) {
  background-color: $color;
  -webkit-mask-image: $icon;
  mask-image: $icon;
  -webkit-mask-position: 50%;
  mask-position: 50%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 20px;
  mask-size: 20px;
}

:root {
  --hr-bg: #ffffff;
  --hr-bg-2: #f3f3f3;
  --hr-lang: #1f1f1f;
  --hr-lang-muted: #616161;
  --hr-border: #e5e5e5;
  --hr-success: #18794e;
}

.dark,
*[data-mmdocs-theme="dark"] {
  --hr-bg: #1e1e1e;
  --hr-bg-2: #252526;
  --hr-lang: #d4d4d4;
  --hr-lang-muted: #cccccc;
  --hr-border: #3c3c3c;
  --hr-success: #3dd68c;

  .shiki,
  .shiki span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    /* Optional, if you also want font styles */
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}

div.shiki_code {
  position: relative;
  margin: auto;
  width: 100%;
  background-color: var(--hr-bg);
  overflow: hidden;
  transition: background-color 0.5s;
  margin-top: 7px;
  margin-bottom: 7px;
  border-radius: 8px;
  border: 1px solid var(--hr-border);
  box-shadow: 0 4px 14px color-mix(in srgb, var(--hr-border) 10%, transparent);

  @media (max-width: 640px) {
    border-radius: 8px;
    margin: 16px 0;
  }
}

div.shiki_code > div.code_head {
  display: flex;
  flex-direction: row;
  padding: 0.42rem 1rem;
  align-items: center;
  justify-content: space-between;
  background-color: var(--hr-bg-2);
  border-bottom: 1px solid var(--hr-border);
}
div.shiki_code > div.code_head > span {
  font-size: 0.84rem;
  font-weight: 400;
  letter-spacing: 0.01em;
  -webkit-user-select: none;
  user-select: none;
  color: var(--hr-lang-muted);
  transition:
    color 0.4s,
    opacity 0.4s;
}
div.shiki_code > div.code_head > button {
  position: relative;
  border: none;
  border-radius: 4px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  cursor: pointer;
  transition:
    border-color 0.25s,
    background-color 0.25s,
    opacity 0.25s;

  &:hover {
    background-color: color-mix(in srgb, var(--hr-lang-muted) 10%, transparent);
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    @include iconMask($iconCopy, var(--hr-lang));
    transition: background-color 0.25s;
  }
}
div.shiki_code > div.code_head > button.copied,
div.shiki_code > div.code_head > button:hover.copied {
  &::before {
    @include iconMask($iconCopied, var(--hr-success));
  }
}

div.shiki_code > pre.shiki {
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 12px 0;
  background: transparent;
  overflow-x: auto;
  scrollbar-gutter: stable;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

.shiki_code > pre.shiki > code {
  display: block;
  padding: 0 24px;
  width: fit-content;
  min-width: 100%;
  line-height: 1.65;
  font-size: 0.95rem;
  font-family: var(--font-mono);
  color: var(--hr-lang);
  transition: color 0.5s;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
